#stage{
    /* htmlのwidth,heightに準拠する*/
    width:1024px;
    height:1024px;
    position: relative;
}

canvas{
    position: absolute;
}

#background-layer{
    z-index:1;
}

#marking-layer{
    z-index:2;
}
