<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/layer.css">
    </head>
    <body>
        <h1>Ark: Survival Evolvedの情報共有サイトへようこそ！</h1>

        <div id="stage">
            <canvas id='background-layer' width='1024' height='1024'></canvas>
            <canvas id='marking-layer' width='1024' height='1024'></canvas>
        </div>

        <script src="static/js/background.js"></script>
        <script src="static/js/marking.js"></script>
    </body>

</html>
